@*<script src="http://jwpsrv.com/library/5ZiBAudiEeSSyg4AfQhyIQ.js"></script>
<script type="text/javascript">jwplayer.key = "bqXTMu3sw4ed4TTCRQCNd9dO1S2BIU9RhGXFUzLV+OY=";</script>     
<div id='playerKKEHntjDkvie'></div>*@
@*<script type='text/javascript'>
    jwplayer('playerKKEHntjDkvie').setup({
        file: 'rtmp://localhost/live/viphd',
        width: '100%',
        aspectratio: '16:9',
        //mute: 'false',
        autostart: 'true',
        //repeat: 'true',
        primary: 'flash',
        //skin: "bekle",
        skin: "beelden",
        //skin: "glow",
        //skin: "roundster",
        //skin: "stormtrooper",
        //skin: "vapor",
        //skin: "five"
    });
</script> *@
  @* <script type='text/javascript'>
    jwplayer('playerKKEHntjDkvie').setup({
        file: 'rtmp://123.31.12.44/vod/mp4:hoathinh.mp4',
        width: '100%',
        aspectratio: '16:9',
        //mute: 'false',
        autostart: 'true',
        //repeat: 'true',
        primary: 'flash',
        //skin: "bekle",
        skin: "beelden",
        //skin: "glow",
        //skin: "roundster",
        //skin: "stormtrooper",
        //skin: "vapor",
        //skin: "five"
    });
</script>*@ 

@*http://support.jwplayer.com/customer/portal/articles/1403679-crossdomain-file-loading
http://support.jwplayer.com/customer/portal/articles/1406968-using-jw-player-skins 
http://support.jwplayer.com/customer/portal/articles/1413071-skin-xml-reference *@