<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="solutions" type="CMSSolutions.Configuration.CMSConfigurationSection, CMSSolutions" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMSSolutions.Websites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <solutions>
    <data settingConnectionString="DefaultDataContext" autoCreateTables="true" />
    <routing dashboardBaseUrl="admin" />
    <modules>
      <add id="CMSSolutions.Accounts" name="CMSSolutions.Accounts" category="System" />
    </modules>
  </solutions>

  <connectionStrings>
    <add name="DefaultDataContext" connectionString="Data Source=(local);Initial Catalog=viphd3;User ID=sa;Password=123456;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--<connectionStrings>
    <add name="DefaultDataContext" connectionString="dO54EElui2/1BP8lL2y5XXV0RDMTgG43ZfIhQCsxBNUPaRBF3a9Z7WQDU2FjqOa4fl4HDzH3T8f0Bf0un046388E6bMKPyxgRoZDOKr8vw6lTNfnAbVUTyukJ1ByQ5ra1y+kLSqFE8kd7r/dyNOwxoHli1v9LdjWIRqQ44Rw7gMd8i9y7OLNYQ==" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <cachingConfiguration defaultCacheManager="CoreCacheManager">
    <cacheManagers>
      <add name="CoreCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IsEncrypt" value="False" />
    <add key="IsSecurityUsers" value="True" />
    <add key="DomainSite" value="localhost" />
	
    <add key="SmsLogFiles" value="D:\Websites\viphd.vn\Logs\SMS"/>
    
    <add key="UserName" value="HQ132"/>
    <add key="Password" value="fdanatsmn"/>
    <add key="CardPartnerId" value="HQ132"/>
    <add key="PublicCardKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs+JvfyTOMHqvjxHJyDZGHZpz3atV7qcOT8mijXGGG3S+8Bb2p2kREGJwrzC2IIErCQUcZ3Wa3wTugKQDxqXESPt76HN2353ufegbvTI9kYgK0MLFpY8OZAMsaTytVrvUEVHjqGXZO4z7oVTqByuBwcZAvK+sN39+MqisS6ZejACbbQLkWZgcSgt5wBAaDaEa2lvRYcVbNyO/mqTU6SSfd+w78uM07BpmxhimOMwf+l/qs+Z04LUm4Ay7b+AHHAwbaHeehC1wInzNDfipgR0H0FCa/LOnEblj2HVpptB/NY4XNG+CDHTBKkxzEw92D/Nj1JIlr1oP0l+/VdAnxxiWuQIDAQAB"/>
    <add key="PrivateCardKey" value="MIICWwIBAAKBgQDk3jxjKHFZgHG9CIEvX18A7KBxj00aQq2PzSX4Md8PszJlIMYgkzoil9Zx/ic26sN09Mwex7YXxLUHIKyRc0sUQckyxOQckcj4iKX+u80JHDoiRbynvbDTIGxeoxOGv7b68SPb+AD84iXydfikaFHcpT49MMxrT9Mfw1M8iNfTFQIDAQABAoGAM+TgNGubJ/wjzgT7pc4uMHt29cjUZrvvtseBcIF+XoT3TE7eHczERcu/6CEEq0MYBpDrJ5+I/mKv2WnjNye5QfTTupFDKo0+o9NlwjyTYmrlMxZO9/j/536G/s/mzJAyi1+sqc9Q/sB73Kx+gu45K0r+/Nm9o0XsO75u9/AsLBECQQDyKVStVzBhe/RLm9rHMwSUQ+atJOVyXc437U8YJ7Z68IYX79y35o449c2lQvmU7/l6RygCWEUZ5EbQ0MEMqu5fAkEA8fJulC2xQ4GTiShdHEQJG9lTTzzCOdLE/KTef3RQ3yYKsGhpcNfUakwZ69/H9j/AOkry2hCx5gGP7QTjRy6LCwJAMztNP9LnWGhp+akCcww3Fsr6vXzF0hlIbIqXJiwYrg++vsevMXTkd+aA2ErAFKNka1sserqD/ANQfBL+FJkBDwJAALGtV4d6BrOMdMxE2Bvp2saY0pVeCURthDwE12DCCqHVTgQ+qTA1T8jAGkkeDbrJFmG4qJ97oylF/GwTKtUbWQJAJIpS2b5pxqQp9jrvRaKWWpE5LXehU31jBYrE1uQ2LMEZELEwY46IucVKv5u0sV0fdbKsGL3B3NXoPgNGl/9DwQ=="/>
    <add key="MPin" value="nhvrcjeat"/>
    <add key="TransactionId" value="00935"/>
    <add key="CardList" value="-1"/>
    <add key="sleepTime" value="5000"/>
    <add key="CardData" value="12345678912:123456789:10000:VNP"/>
    <add key="CMSSolutions.Websites.Services" value="http://charging-service.megapay.net.vn/CardChargingGW_V2.0/services/Services?wsdl"/>
    
    <add key="PartnerId" value="10048"/>
    <add key="PartnerPassword" value="ecf9f229f5655d9b6d230ede6d7e25b5"/>
    <add key="UrlSMSMT" value="http://sms.megapayment.net.vn:9099/smsApi?"/>  
    
    <add key="SenderKey" value="F314UB6RXjC0AHaM3wrFZ25U" />
    <add key="ReceiverKey" value="OrNLQ3VBDHVhcBxrrmnqhEV1"/>

    <add key="HomeDomainName" value="viphd.vn"/>
    <add key="JJDomainName" value="jj.viphd.vn"/>

    <add key="FacebookAppId" value="1602627506649580" /> 
    <add key="FacebookAppSecret" value="b565654a948f58ab924be422d5f7becf" />  
    <add key="GoogleAppId" value="809085919206-jndf592ibac0vp213rkedmrqg5ovvtmq.apps.googleusercontent.com" />
    <add key="GoogleAppSecret" value="JlQTVU92_qNtzcp1Gn4yiJ8L" />    
  
    <add key="SearchEngineDBPath" value="D:\Websites\viphd.vn\App_Data\SearchEngineDB" />         
    <add key="JWplayerSkin" value="http://viphd.vn/Scripts/jwplayer/aRed.xml" />    
    <add key="JWplayerKey" value="FtQ+ubCVmOF2aj8ALHMi/lGfO4o7Oy7xpKmePA==" />  
    <add key="StreamingUrl" value="rtmp://{0}:1683/vod/mp4:{1}" />
  </appSettings>

  <system.web>
    <sessionState timeout="1440"></sessionState>
    <customErrors mode="On" defaultRedirect="~/Error.html?statusCode=0"></customErrors>
    <httpRuntime targetFramework="4.5" executionTimeout="900000" />
    <authentication mode="Forms">
      <forms loginUrl="~/account/login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="false"></roleManager>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
	    <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>

  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <applicationSettings>
    <CMSSolutions.Websites.Properties.Settings>
      <setting name="CMSSolutions_Websites_VipHDBankCardServices_Service" serializeAs="String">
        <value>http://bank.megapay.net.vn:10001/service.asmx</value>
      </setting>
      <setting name="CMSSolutions_Websites_VipHDCardServices_ServicesService" serializeAs="String">
        <value>http://charging-service.megapay.net.vn/CardChargingGW_V2.0/services/Services?wsdl</value>
      </setting>
    </CMSSolutions.Websites.Properties.Settings>
  </applicationSettings>
</configuration>
<!--Quartz: http://www.cronmaker.com/-->
