<ul class="mh-uarea">
    <li class="mh-ct-uarea">     
        <a id="jQueryLogin" class="mh-ico-user" title="Đăng nhập" href="javascript:void(0)"></a>    
    </li>
    <li class="mh-ct-search">
         <a id="ct-search-bt" class="mh-ico-search" href="javascript:void(0)">
            <span class="menutop-arr-d"></span>
        </a>
        <div id="ct-search" class="ct-search">      
            <form autocomplete="off" name="searchform" id="searchform" method="post" enctype="multipart/form-data"> 
                <input type="text" id="keyword" name="keyword" class="ct-search-input pull-left">
                <input type="submit" value="Search" class="ct-search-submit pull-right mh-btn-sty">
            </form>
        </div>
    </li>
</ul>