<ul class="mh-menutop">
    <li class=" li_libfilm"> <a href="j-drama.html">J-Drama<span class="menutop-arr-r"></span><span class="menutop-arr-d"></span></a>
        <div class="mh-menutop-dvsub">
            <ul class="mh-menutop-sub">
                <li class="active">
                    <a id="menu_jdrama_hanh-dong" onmouseover="loadMenu(this, 'jdrama',7);" data="1.html" href="j-drama/hanh-dong.html">Hành động</a>
                    <div id="menu_jdrama_hanh-dong_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                            <li>
                                <a href="j-drama/phim-absolute-zero-2-toi-ac-bi-lang-quen-2-Tap-1-hd-2331383838346E61.html" class="mh-imgbor-170" title="Absolute Zero 2">
                                    <img src="../img.hayhaytv.com/film/17012014/crop/zettai-reido-2_54261389946871.png" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-drama/phim-absolute-zero-2-toi-ac-bi-lang-quen-2-Tap-1-hd-2331383838346E61.html">
                                    <p class="name-en">Absolute Zero 2</p>
                                    <p class="name-vi">Tội Ác Bị Lãng Quên 2</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-9.png" width="60">
                                    <span>9/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-drama/phim-absolute-zero--zettai-reido-toi-ac-bi-lang-quen-Tap-1-hd-2331383338346E61.html" class="mh-imgbor-170" title="Absolute Zero - Zettai Reido ">
                                    <img src="../img.hayhaytv.com/film/08012014/crop/zettai-redo_40871389169564.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-drama/phim-absolute-zero--zettai-reido-toi-ac-bi-lang-quen-Tap-1-hd-2331383338346E61.html">
                                    <p class="name-en">Absolute Zero - Zettai Reido </p>
                                    <p class="name-vi">Tội Ác Bị Lãng Quên</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-8.png" width="60">
                                    <span>7.3/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-drama/phim-tokyo-dogs-song-hung-pha-an-Tap-1-hd-2331383137336E61.html" class="mh-imgbor-170" title="Tokyo DOGS">
                                    <img src="../img.hayhaytv.com/film/07012014/crop/tokyo-dogs_91221389086140.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-drama/phim-tokyo-dogs-song-hung-pha-an-Tap-1-hd-2331383137336E61.html">
                                    <p class="name-en">Tokyo DOGS</p>
                                    <p class="name-vi">Song Hùng Phá Án</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-10.png" width="60">
                                    <span>9.2/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-drama/phim-kamen-rider-kuuga--Tap-1-hd-2331373639366E61.html" class="mh-imgbor-170" title="Kamen Rider Kuuga">
                                    <img src="../img.hayhaytv.com/film/25122013/crop/kamen-rider-kuuga_87341387965043.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-drama/phim-kamen-rider-kuuga--Tap-1-hd-2331373639366E61.html">
                                    <p class="name-en">Kamen Rider Kuuga</p>
                                    <p class="name-vi"></p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-9.png" width="60">
                                    <span>8.4/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-drama/phim-bloody-monday--season-1-ngay-thu-hai-dam-mau-1-Tap-1-hd-2331373133376E61.html" class="mh-imgbor-170" title="Bloody Monday - Season 1 ">
                                    <img src="../img.hayhaytv.com/film/09122013/crop/bloddy-monday_82501386558817.png" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-drama/phim-bloody-monday--season-1-ngay-thu-hai-dam-mau-1-Tap-1-hd-2331373133376E61.html">
                                    <p class="name-en">Bloody Monday - Season 1 </p>
                                    <p class="name-vi">Ngày Thứ Hai Đẫm Máu 1</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-10.png" width="60">
                                    <span>9.3/10</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_vo-thuat" onmouseover="loadMenu(this, 'jdrama',17);" data="0.html" href="j-drama/vo-thuat.html">Võ thuật</a>
                    <div id="menu_jdrama_vo-thuat_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_phieu-luu" onmouseover="loadMenu(this, 'jdrama',90);" data="0.html" href="j-drama/phieu-luu.html">Phiêu lưu</a>
                    <div id="menu_jdrama_phieu-luu_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_tinh-cam" onmouseover="loadMenu(this, 'jdrama',8);" data="0.html" href="j-drama/tinh-cam.html">Tình cảm</a>
                    <div id="menu_jdrama_tinh-cam_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_tam-ly" onmouseover="loadMenu(this, 'jdrama',9);" data="0.html" href="j-drama/tam-ly.html">Tâm lý</a>
                    <div id="menu_jdrama_tam-ly_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_hai" onmouseover="loadMenu(this, 'jdrama',14);" data="0.html" href="j-drama/hai.html">Hài</a>
                    <div id="menu_jdrama_hai_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_khoa-hoc-vien-tuong" onmouseover="loadMenu(this, 'jdrama',15);" data="0.html" href="j-drama/khoa-hoc-vien-tuong.html">Khoa học viễn tưởng</a>
                    <div id="menu_jdrama_khoa-hoc-vien-tuong_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jdrama_ma--kinh-di" onmouseover="loadMenu(this, 'jdrama',46);" data="0.html" href="j-drama/ma--kinh-di.html">Ma – Kinh dị</a>
                    <div id="menu_jdrama_ma--kinh-di_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class=" li_libfilm"> <a href="j-movie.html">J-Movie<span class="menutop-arr-r"></span><span class="menutop-arr-d"></span></a>
        <div class="mh-menutop-dvsub">
            <ul class="mh-menutop-sub">
                <li class="active">
                    <a id="menu_jmovie_hanh-dong" onmouseover="loadMenu(this, 'jmovie',7);" data="1.html" href="j-movie/hanh-dong.html">Hành động</a>
                    <div id="menu_jmovie_hanh-dong_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                            <li>
                                <a href="j-movie/phim-black-butler-hac-quan-gia-hd-31303230316E61.html" class="mh-imgbor-170" title="Black Butler">
                                    <img src="../img.hayhaytv.com/film/08082014/crop/black-butler-2014_67591407489387.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-movie/phim-black-butler-hac-quan-gia-hd-31303230316E61.html">
                                    <p class="name-en">Black Butler</p>
                                    <p class="name-vi">Hắc Quản Gia</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-8.png" width="60">
                                    <span>7.6/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-movie/phim-bushido-man-bay-tran-thu-hung-hd-31303031386E61.html" class="mh-imgbor-170" title="Bushido Man">
                                    <img src="../img.hayhaytv.com/film/30062014/crop/bushido-man_83151404126376.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-movie/phim-bushido-man-bay-tran-thu-hung-hd-31303031386E61.html">
                                    <p class="name-en">Bushido Man</p>
                                    <p class="name-vi">Bảy Trận Thư Hùng</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-8.png" width="60">
                                    <span>7.5/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-movie/phim-why-dont-you-play-in-hell-sao-khong-xuong-dia-nguc-choi-hd-393638346E61.html" class="mh-imgbor-170" title="Why Don't You Play in Hell">
                                    <img src="../img.hayhaytv.com/film/20032014/crop/1fshtrd_94721395305601.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-movie/phim-why-dont-you-play-in-hell-sao-khong-xuong-dia-nguc-choi-hd-393638346E61.html">
                                    <p class="name-en">Why Don't You Play in Hell</p>
                                    <p class="name-vi">Sao Không Xuống Địa Ngục Chơi</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-8.png" width="60">
                                    <span>7.3/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-movie/phim-unforgiven-khong-dung-thu-hd-393637346E61.html" class="mh-imgbor-170" title="Unforgiven">
                                    <img src="../img.hayhaytv.com/film/17032014/crop/unforgiven_11221395026267.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-movie/phim-unforgiven-khong-dung-thu-hd-393637346E61.html">
                                    <p class="name-en">Unforgiven</p>
                                    <p class="name-vi">Không Dung Thứ</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-5.png" width="60">
                                    <span>4.3/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="j-movie/phim-ninja-kids-summer-mission-impossible-ninja-loan-thi--diep-vu-bat-kha-thi-hd-393535386E61.html" class="mh-imgbor-170" title="Ninja Kids!!! Summer Mission Impossible">
                                    <img src="../img.hayhaytv.com/film/22022014/crop/ninja-kids-summer-mission-impossible_70611393002924.png" width="140" height="70" alt=" ">
                                </a> 
                                <a href="j-movie/phim-ninja-kids-summer-mission-impossible-ninja-loan-thi--diep-vu-bat-kha-thi-hd-393535386E61.html">
                                    <p class="name-en">Ninja Kids!!! Summer Mission Impossible</p>
                                    <p class="name-vi">Ninja Loạn Thị: Điệp Vụ Bất Khả Thi</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-9.png" width="60">
                                    <span>8.6/10</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_vo-thuat" onmouseover="loadMenu(this, 'jmovie',17);" data="0.html" href="j-movie/vo-thuat.html">Võ thuật</a>
                    <div id="menu_jmovie_vo-thuat_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_phieu-luu" onmouseover="loadMenu(this, 'jmovie',90);" data="0.html" href="j-movie/phieu-luu.html">Phiêu lưu</a>
                    <div id="menu_jmovie_phieu-luu_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_tinh-cam" onmouseover="loadMenu(this, 'jmovie',8);" data="0.html" href="j-movie/tinh-cam.html">Tình cảm</a>
                    <div id="menu_jmovie_tinh-cam_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_tam-ly" onmouseover="loadMenu(this, 'jmovie',9);" data="0.html" href="j-movie/tam-ly.html">Tâm lý</a>
                    <div id="menu_jmovie_tam-ly_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_hai" onmouseover="loadMenu(this, 'jmovie',14);" data="0.html" href="j-movie/hai.html">Hài</a>
                    <div id="menu_jmovie_hai_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_khoa-hoc-vien-tuong" onmouseover="loadMenu(this, 'jmovie',15);" data="0.html" href="j-movie/khoa-hoc-vien-tuong.html">Khoa học viễn tưởng</a>
                    <div id="menu_jmovie_khoa-hoc-vien-tuong_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_jmovie_ma--kinh-di" onmouseover="loadMenu(this, 'jmovie',46);" data="0.html" href="j-movie/ma--kinh-di.html">Ma – Kinh dị</a>
                    <div id="menu_jmovie_ma--kinh-di_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class=" li_libfilm"> <a href="anime.html">Anime<span class="menutop-arr-r"></span><span class="menutop-arr-d"></span></a>
        <div class="mh-menutop-dvsub">
            <ul class="mh-menutop-sub">
                <li class="active">
                    <a id="menu_anime_action" onmouseover="loadMenu(this, 'anime',1);" data="1.html" href="anime/action.html">Action</a>
                    <div id="menu_anime_action_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                            <li>
                                <a href="anime/phim-dragon-ball-kai-bay-vien-ngoc-rong-Tap-1-hd-2332313538316E61.html" class="mh-imgbor-170" title="Dragon Ball Kai">
                                    <img src="../img.hayhaytv.com/film/04042014/crop/dragon-ball-kai-2014_86181396604705.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="anime/phim-dragon-ball-kai-bay-vien-ngoc-rong-Tap-1-hd-2332313538316E61.html">
                                    <p class="name-en">Dragon Ball Kai</p>
                                    <p class="name-vi">Bảy Viên Ngọc Rồng</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-9.png" width="60">
                                    <span>8.9/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="anime/phim-black-cat-sat-thu-meo-den-Tap-1-hd-2332363138386E61.html" class="mh-imgbor-170" title="Black Cat">
                                    <img src="../img.hayhaytv.com/film/23102014/crop/black-cat_50841414036768.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="anime/phim-black-cat-sat-thu-meo-den-Tap-1-hd-2332363138386E61.html">
                                    <p class="name-en">Black Cat</p>
                                    <p class="name-vi">Sát Thủ Mèo Đen</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-10.png" width="60">
                                    <span>9.2/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="anime/phim-sidonia-no-kishi--knights-of-sidonia-nhung-hiep-si-cua-sidonia-Tap-1-hd-2332323139336E61.html" class="mh-imgbor-170" title="Sidonia no Kishi - Knights of Sidonia">
                                    <img src="../img.hayhaytv.com/film/16052014/crop/sidonia-no-kishi-2014_82291400205205.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="anime/phim-sidonia-no-kishi--knights-of-sidonia-nhung-hiep-si-cua-sidonia-Tap-1-hd-2332323139336E61.html">
                                    <p class="name-en">Sidonia no Kishi - Knights of Sidonia</p>
                                    <p class="name-vi">Những Hiệp Sĩ của Sidonia</p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-9.png" width="60">
                                    <span>8.8/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="anime/phim-to-aru-kagaku-no-railgun--a-certain-scientific-railgun--Tap-1-hd-2332333934386E61.html" class="mh-imgbor-170" title="To Aru Kagaku No Railgun - A Certain Scientific Railgun">
                                    <img src="../img.hayhaytv.com/film/No-Image-banner-140x70.png" width="140" height="70" alt=" ">
                                </a> 
                                <a href="anime/phim-to-aru-kagaku-no-railgun--a-certain-scientific-railgun--Tap-1-hd-2332333934386E61.html">
                                    <p class="name-en">To Aru Kagaku No Railgun - A Certain Scientific Railgun</p>
                                    <p class="name-vi"></p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-10.png" width="60">
                                    <span>10/10</span>
                                </p>
                            </li>
                            <li>
                                <a href="anime/phim-to-aru-kagaku-no-railgun-s--a-certain-scientific-railgun-s--Tap-1-hd-2331323436376E61.html" class="mh-imgbor-170" title="To Aru Kagaku no Railgun S - A Certain Scientific Railgun S">
                                    <img src="../img.hayhaytv.com/film/06092013/crop/toaru-kagaku-no-railgun-s_89361378456347.jpg" width="140" height="70" alt=" ">
                                </a> 
                                <a href="anime/phim-to-aru-kagaku-no-railgun-s--a-certain-scientific-railgun-s--Tap-1-hd-2331323436376E61.html">
                                    <p class="name-en">To Aru Kagaku no Railgun S - A Certain Scientific Railgun S</p>
                                    <p class="name-vi"></p>
                                </a>
                                <p class="mh-viewrating">
                                    <img src="layout/images/star-10.png" width="60">
                                    <span>9.5/10</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_adventure" onmouseover="loadMenu(this, 'anime',2);" data="0.html" href="anime/adventure.html">Adventure</a>
                    <div id="menu_anime_adventure_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_comedy" onmouseover="loadMenu(this, 'anime',3);" data="0.html" href="anime/comedy.html">Comedy</a>
                    <div id="menu_anime_comedy_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_fantasy" onmouseover="loadMenu(this, 'anime',5);" data="0.html" href="anime/fantasy.html">Fantasy</a>
                    <div id="menu_anime_fantasy_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_romance" onmouseover="loadMenu(this, 'anime',8);" data="0.html" href="anime/romance.html">Romance</a>
                    <div id="menu_anime_romance_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_sci-fi" onmouseover="loadMenu(this, 'anime',9);" data="0.html" href="anime/sci-fi.html">Sci-Fi</a>
                    <div id="menu_anime_sci-fi_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_shounen" onmouseover="loadMenu(this, 'anime',12);" data="0.html" href="anime/shounen.html">Shounen</a>
                    <div id="menu_anime_shounen_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
                <li class="">
                    <a id="menu_anime_slice-of-life" onmouseover="loadMenu(this, 'anime',13);" data="0.html" href="anime/slice-of-life.html">Slice of Life</a>
                    <div id="menu_anime_slice-of-life_ajax" class="mh-menutop-sub-div">
                        <ul class="mh-menutop-sub-sub">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="li_libex">
        <a href="#">Explore<span class="menutop-arr-r"></span><span class="menutop-arr-d"></span></a>
        <ul class="li_libex-sub">
            <li> <a class="li_libex-ptt" href="j-drama.html">J-Drama</a>
                <ul class="li_libex-sub-in">
                    <li><a href="j-drama/hanh-dong.html">Hành động</a></li><li><a href="j-drama/vo-thuat.html">Võ thuật</a></li><li><a href="j-drama/phieu-luu.html">Phiêu lưu</a></li><li><a href="j-drama/tinh-cam.html">Tình cảm</a></li><li><a href="j-drama/tam-ly.html">Tâm lý</a></li><li><a href="j-drama/hai.html">Hài</a></li><li><a href="j-drama/khoa-hoc-vien-tuong.html">Khoa học viễn tưởng</a></li><li><a href="j-drama/ma--kinh-di.html">Ma – Kinh dị</a></li>                </ul>
            </li>
            <li> <a class="li_libex-ptt" href="j-movie.html">J-Movie</a>
                <ul class="li_libex-sub-in">
                    <li><a href="j-movie/hanh-dong.html">Hành động</a></li><li><a href="j-movie/vo-thuat.html">Võ thuật</a></li><li><a href="j-movie/phieu-luu.html">Phiêu lưu</a></li><li><a href="j-movie/tinh-cam.html">Tình cảm</a></li><li><a href="j-movie/tam-ly.html">Tâm lý</a></li><li><a href="j-movie/hai.html">Hài</a></li><li><a href="j-movie/khoa-hoc-vien-tuong.html">Khoa học viễn tưởng</a></li><li><a href="j-movie/ma--kinh-di.html">Ma – Kinh dị</a></li>                </ul>
            </li>
            <li> <a class="li_libex-ptt" href="anime.html">Amine</a>
                <ul class="li_libex-sub-in">
                    <li><a href="anime/action.html">Action</a></li><li><a href="anime/adventure.html">Adventure</a></li><li><a href="anime/comedy.html">Comedy</a></li><li><a href="anime/fantasy.html">Fantasy</a></li><li><a href="anime/romance.html">Romance</a></li><li><a href="anime/sci-fi.html">Sci-Fi</a></li><li><a href="anime/shounen.html">Shounen</a></li><li><a href="anime/slice-of-life.html">Slice of Life</a></li>                </ul>
            </li>
            <li>
                <ul class="li_libex-sub-in">
                    <li><a class="li_libex-ptt" href="j-edu.html">J-Edu</a></li>
                    <li><a class="li_libex-ptt" href="j-melo.html">J-Melo</a></li>
                    <li><a class="li_libex-ptt" href="j-show.html">J-Show</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="http://www.hayhaytv.vn/" class="mh-ico-hayhay"></a></li>
    <li><a class="mh-ico-donate" href="http://www.hayhaytv.vn/tai-tro" target="_blank"></a></li>
</ul>