 @model CMSSolutions.Websites.Models.DataViewCategoryModel
<div class="list_category">
    <h3 class="title_h1_st2">@Model.Title</h3>
    <a href="javascript:void(0)" id="tab_clip_date" onclick="clip_status(1)" class="title_tabs_a active">NGÀY</a>
    <a href="javascript:void(0)" id="tab_clip_week" onclick="clip_status(2)" class="title_tabs_a">TUẦN</a>
    <a href="javascript:void(0)" id="tab_clip_month" onclick="clip_status(3)" class="title_tabs_a">THÁNG</a>
    <div id="clip_date" class="content_mCustomScrollbar_bo content_mCustomScrollbar list_category-sidebar"></div>
    <div id="clip_week" class="content_mCustomScrollbar_bo content_mCustomScrollbar list_category-sidebar"></div>
    <div id="clip_month" class="content_mCustomScrollbar_bo content_mCustomScrollbar list_category-sidebar"></div>
    <br class="clear_both">               
</div>       

<script type="text/javascript">     
    $(document).ready(function() {
        $("#clip_week").hide();
        $("#clip_month").hide();
        showStatisticalClip('clip_date', 1);
        showStatisticalClip('clip_week', 2);
        showStatisticalClip('clip_month', 3);
        $(window).load(function () {
            $("#clip_date").mCustomScrollbar({
                theme: "dark-thick",
				scrollInertia:900,
				scrollEasing:"easeOutQuint",
				mouseWheel:true,
				mouseWheelPixels: 500
            });

            $("#clip_week").mCustomScrollbar({
                theme: "dark-thick",
				scrollInertia:900,
				scrollEasing:"easeOutQuint",
				mouseWheel:true,
				mouseWheelPixels: 500
            });
            $("#clip_month").mCustomScrollbar({
                theme: "dark-thick",
				scrollInertia:900,
				scrollEasing:"easeOutQuint",
				mouseWheel:true,
				mouseWheelPixels: 500
            });
        }); 
    });
    
    function clip_status(id) {
        if (id == 1) {
            $("#tab_clip_date").addClass("active");
            $("#tab_clip_week").removeClass("active");
            $("#tab_clip_month").removeClass("active");

            $("#clip_date").show();
            $("#clip_week").hide();
            $("#clip_month").hide();
        } else if (id == 2) {
            $("#tab_clip_date").removeClass("active");
            $("#tab_clip_week").addClass("active");
            $("#tab_clip_month").removeClass("active");

            $("#clip_date").hide();
            $("#clip_week").show();
            $("#clip_month").hide();
        } else if (id == 3) {
            $("#tab_clip_date").removeClass("active");
            $("#tab_clip_week").removeClass("active");
            $("#tab_clip_month").addClass("active");

            $("#clip_date").hide();
            $("#clip_week").hide();
            $("#clip_month").show();
        }
    }
    
    function showStatisticalClip(name, index) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetFilmByType", "Home")',
            data: { type: '@Model.Type', statistical: index },
            dataType: 'JSON',
            beforeSend: function () {
                var html = "<div id='loading' style='width: 100%;text-align: center;margin-top: 30%;'><img width='100' src='/Images/themes/loading1.gif' /></div>";
                setTimeout(function () {
                    $("#" + name).find("#loading").remove();
                }, 20000);
                $("#" + name).html(html);
            },
            success: function (resultList) {
                $("#" + name).find("#loading").remove();
                var n = resultList.Data.length;
                if (n > 0) {
                    $("#" + name).html(resultList.Data);
                } else {
                    var html = "<p>Không có dữ liệu</p>";
                    $("#" + name).html(html);
                }
            }
        });
    }
</script> 