 <a href="@Url.Action("UserHistories1","HomeCustomer")" class="title_tabs_a active">Ưa thích</a>
<a href="@Url.Action("UserHistories2","HomeCustomer")" class="title_tabs_a ">Đã xem</a>
<a href="@Url.Action("UserHistories3", "HomeCustomer")" class="title_tabs_a ">Đang xem</a>
<a href="javascript:void(0)" class="title_tabs_a ">Xem sau</a>
<a href="@Url.Action("UserMessages", "HomeCustomer")" class="title_tabs_a ">Inbox</a>    
<br class="clear_both">
<br class="clear_both">
<br class="clear_both">
<h1 class="title_h1_st1">
     <a href="javascript:;">PHIM LẺ</a> 
</h1>
<br class="clear_both">
<div id="colDivFavourite">
    <div class="list_category-child">        	
        Dữ liệu phim ưa thích chưa có
    </div>
</div>
<div class="w960_h20 clear_both"></div>
<h1 class="title_h1_st1"><a href="javascript:;">PHIM BỘ</a></h1>
<br class="clear_both">
<div id="allDivFavourite">
    <div class="list_category-child">        	
        Dữ liệu phim ưa thích chưa có
    </div>
</div>