<div style="margin-top: 130px">
<a href="@Url.Action("UserHistories1","HomeCustomer")" class="title_tabs_a ">Ưa thích</a>
<a href="@Url.Action("UserHistories2","HomeCustomer")" class="title_tabs_a ">Đã xem</a>
<a href="@Url.Action("UserHistories3", "HomeCustomer")" class="title_tabs_a ">Đang xem</a>
<a href="javascript:void(0)" class="title_tabs_a ">Xem sau</a>
<a href="@Url.Action("UserMessages", "HomeCustomer")" class="title_tabs_a active">Inbox</a>     
 <div class="clear_both"></div>       

<div class="sm">
    <div class="sm_wapper">
        <div class="sm_tab">
            <ul>
                <li><a class="active">Inbox</a></li>
            </ul>
        </div>
        <div class="sm_info">
            <div class="sm_info_left">
                <ul>                                    
                    <li>
                        <a href="#" class="">Inbox (0)</a>
                    </li>
                    <li>
                        <a href="#" class="">Message (0)</a>
                    </li>
                    <li>
                        <a href="#" class="">Delete (0)</a>
                    </li>
                </ul>
            </div>
            <div class="sm_info_middle">                        
                <ul id="tieude_new">
                </ul>
            </div>
            <div class="sm_info_right">   
                <div class="clear_both"></div>
                <div id="cm_user" class="bl_left">
                    <div class="scroll">
                        <div id="new_comment">  
                        </div>
                    </div>                                                    
                </div>
            </div>
        </div>
    </div>
</div>  
</div>   